* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Lato, sans-serif;
    background-color: #222;
    color: white;
}

.inner-cursor {
    position: fixed;
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
    z-index: 100;
}

.inner-cursor.grow {
    width: 25px;
    height: 25px;
    transition: width 0.5s, height 0.5s;
}

.outer-cursor {
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
    z-index: 100;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    text-align: center;
}

nav .nav-item {
    display: inline-block;
    padding-right: 1em;
}

nav .nav-item .nav-link {
    display: block;
    position: relative;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

nav .nav-item .nav-link:hover::after, nav .nav-item .nav-link:focus::after {
    transform: scale(1);
}

.hero {
    scroll-snap-align: start;
    scroll-margin-top: 10vh;
    margin-top: 10vh;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    justify-self: center;
    text-align: right;
    font-size: 3rem;
}

.hero #pfp {
    width: 400px;
    height: auto;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(0 0 100px rgba(253, 132, 50, 0.74)); 
}

.hero .test {
    width: 100%;
    height: 100%;
    background-color: black;
    grid-column: span 2;
    grid-row: 2;
}

.section {
    scroll-snap-align: start;
    height: 100vh;
    width: 85vw;
    justify-self: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    justify-content: center;
    padding: 10vh;
}

.bento-item {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corner-left {
    grid-area: 1 / 1 / span 3 / span 3;
}

.center {
    grid-area: 3 / 4 / span 6 /  span 7;
}

.top-center {
    grid-area: 1 / 4 / span 2 / span 7;
}

.bot-left {
    grid-area: 4 / 1 / 9 / span 3;
}

.top-right-1 {
    grid-area: 1 / 11 / span 4 / span 2;
}

.top-right-2 {
    grid-area: 1 / 13 / span 6 / span 3;
}

.corner-right {
    grid-area: 7 / 11 / 9 / 16;
}

.mid-right {
    grid-area: 5 / 11 / 7 / 13;
}

.contact {
    scroll-snap-align: start;
    scroll-margin-top: 10vh;
    margin-top: 10vh;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
